*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#mywebsite{
    font-family: Arial, Helvetica, sans-serif;
}

#landing{
    background-image: url(../img/landing-img.jpg);
    background-size: cover;
    height: 98vh;
    box-shadow: 0 -160px 320px 1px rgb(156, 156, 156) inset;
}

#landing h1{
    font-size: 64px;
    padding-top: 17px;
    position: relative;
    text-shadow: 2px 2px 1px black;
}
#landing p{
    font-size: 24px;
    padding-top: 17px;
    position: relative;
    text-shadow: 2px 2px 1px black;
}

#landing h1,p{
    color: white;
    text-align: center;
    top: 455px;
}