*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#mywebsite{
    font-family: Arial, Helvetica, sans-serif;
}

#landing{
    background-image: url(../img/landing-img.jpg);
    background-size: cover;
    height: 98vh;
    box-shadow: 0 -160px 320px 1px rgb(156, 156, 156) inset;
}

#landing h1{
    font-size: 64px;
    padding-top: 17px;
    position: relative;
    text-shadow: 2px 2px 1px black;
}
#landing p{
    font-size: 24px;
    padding-top: 17px;
    position: relative;
    text-shadow: 2px 2px 1px black;
}

#landing h1,p{
    color: white;
    text-align: center;
    top: 455px;
}

#blog{
    padding-left: 140px;
}
img{
    align-items: center;
    height: 232px;
    width: 373px;
    padding-bottom: 1%;
}
div:nth-child(5){
    display: inline-block;
    border: 1px solid lightgray;
    height: 420px;
    width: 375px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    border: 1px solid rgb(222, 222, 222);
    box-shadow: 0px 2px 3px rgb(234,220,220);
}


div:nth-child(4){
    display: inline-block;
    border: 1px solid black;
    height: 420px;
    width: 375px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    margin-right: 11px;
    margin-top: 55px;
    box-shadow: 0px -80px 500px 1px rgb(31, 30, 30) inset;
}

div:nth-child(4) p{
 color: white;
}   

div:nth-child(4) a{
    color: white;
   }   
   div:nth-child(4) a:hover{
    color: red;
   }   